<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>City Science - Datathon 2016</title>

    {% block stylesheets %}{% endblock %}

</head>

<body id="page-top" class="index">
<input type="hidden" id="blue-icon" value="{{ asset('img/blueIcon.png') }}">
<input type="hidden" id="green-icon" value="{{ asset('img/greenIcon.png') }}">
<input type="hidden" id="red-icon" value="{{ asset('img/redIcon.png') }}">

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}{% endblock %}

</body>

</html>